node_modules/
.firebase/
.next/
.firebaserc
firebase.json
firebase-debug.log
.vscode/launch.json
.vscode/settings.json
.env.local
public/nativeFunctions.js
public/serviceWorker.js
public/zone.min.js
public/forceLoadWMID.js
.eslintcache
tsconfig.tsbuildinfo
.env.production
