@import "tailwindcss";
@config "../../tailwind.config.js";

@layer utilities {
  :root {
    --globalColor0: theme('colors.globalColor0');
    --globalColor1: theme('colors.globalColor1');
    --globalColor2: theme('colors.globalColor2');
    --globalColor3: theme('colors.globalColor3');
    --globalColor4: theme('colors.globalColor4');
    --globalColor5: theme('colors.globalColor5');
    --globalColor6: theme('colors.globalColor6');
  }
}

.MuiAccordion-root {
  background-color: var(--globalColor6) !important;
  color: var(--globalColor0) !important;
}

.MuiAccordionDetails-root {
  background-color: var(--globalColor6) !important;
  filter: brightness(80%);
}


.MuiSvgIcon-root{
  color: var(--globalColor0) !important;
}
